res RCDATA "res.rc"
index RCDATA "res\index.html"
page1 RCDATA "res\page1.html"
page2 RCDATA "res\page2.html"
cheetah RCDATA "res\cheetah.bmp"
helpicon RCDATA "res\help.ico"
laztitle RCDATA "res\laztitle.png"
loading RCDATA "res\loading.gif"
poppy RCDATA "res\poppy.jpg"
